@import 'fonts';
@import 'normalize';
@import 'vars';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 140px;
    }

    &__navigation-list {

        &__item {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 1rem;
            position: relative;


            &.active {
                padding: 15px 30px 15px 18px;
                background-color: #f0e246;
                box-shadow: inset 0 -2px 0 #e5d73b;
                position: relative;
            }

            &.request {
                padding: 18px 15px 18px 10px;
                background-color: #f0e246;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    right: 33px;
                    top: 0;
                    background-color: #e5d844;
                }

                img {
                    margin-left: 20px;
                }
            }

            &.dropdown {
                padding-right: 30px;
            }

            &.dropdown::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                right: 15px;
                background-image: url('../img/black-chevron.png');
                width: 5px;
                height: 10px;
            }

            &.active::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                background-image: url('../img/white-chevron.png');
                width: 9px;
                height: 6px;
            }
        }

        &__item+&__item {
            margin-left: 45px;
        }
    }
}

.main {
    min-height: 770px;
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-position: center center;

    &__info {
        max-width: 665px;
        padding: 0 5px;
        margin-left: auto;



        &-title {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 3.75rem;
            color: #fff;
            text-transform: uppercase;
            line-height: 1.25;
            padding-top: 150px;


        }

        &-text {
            font-style: italic;
            font-size: 1.125rem;
            font-weight: 500;
            color: #f7f7f7;
            line-height: 1.25;
            margin-bottom: 60px;
        }

        &-link {
            padding: 19px 60px 20px 20px;
            font-weight: 700;
            position: relative;
            border-radius: 5px;

            &+.main__info-link {
                margin-left: 50px;
            }

            &.white {
                background-color: #233859;
                color: #fff;
            }

            &.black {
                background-color: #f0e246;
                color: #233859;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 45px;
                height: 100%;
                width: 1px;
                background-color: rgba(#fff, .15);

            }

            &.black::before {
                background-color: #e5d844;
            }

            &::after {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                background-image: url('../img/white-chevron.png');
                width: 9px;
                height: 6px;

            }

            &.black::after {
                background-image: url('../img/black-chevron.png');
                width: 5px;
                height: 10px;
                transform: translateY(-50%) rotate(0);
            }
        }

    }

}



@import 'media';